@font-face {
    font-family: preto;
    src: url(fontes/Poppins-Light.ttf)
}


body{
    background-color: rgb(224, 224, 224);
}

header{
    padding-top: 138px;
    background-color:rgb(0, 1, 80);
    margin: -8px;
}
#texto{
    text-align: center;
}

#img1{
    width: 130px;
    position:absolute;
    top: 5px;
}

#sites{
    text-align: center;
}

h1{
    font-size: 40px;
    background-color:rgb(0, 1, 80);
    color: white;
    position: absolute;
    top: 1px;
    left: 750px;

}

h2{
    font-size: 40px;
    background-color:rgb(0, 1, 80);
    color: white;
    position: absolute;
    top: 1px;
    margin-top: 27px;
    left: 990px;


}

h3{
    font-size: 18px;
    font-family: preto, sans-serif;
}

h4{
    
    font-size: 40px;
    background-color:rgb(0, 1, 80);
    color: white;
    position: absolute;
    top: 1px;
    margin-top: 27px;
    right: 657px;


}

h5{
    font-size: 30px;
    font-family: preto, sans-serif;

}